
.main {
    margin: 0;
}

.donation--card {
    height: 1000px;
    background: rgb(231, 231, 231);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px;
}

.project--info {
    height: 40%;
    width: 360px;
    background-color: rgb(220, 214, 214);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 1px 9px rgb(114, 112, 112);
}

.project--img {
    height: 48%;
    width: 90%;
    margin-top: 10px;
    box-shadow: 0px 1px 9px rgb(101, 100, 100);
}

.donation--info {
    height: 40%;
    width: 360px;
    background-color: white;
}

.project--details {
    position: relative;
    right: 0%;
    top: 14%;
    display: flex;
    flex-direction: column;
}

.project--verified {
    position: absolute;
    top: -30%;
}

.project--verified > i {
    margin-right: 5px;
    color: rgb(25, 186, 25);
    font-size: 1.3em;
}

.project--verified > span {
    color: rgb(25, 186, 25);
    font-weight: 400;
    position: absolute;
    top: -8%;
}

.project--details > h3 {
    font-weight: 700;
}

.project--details > h6 {
    color: gray;
    margin-top: -8px;
}

.project--details > span {
    background-color: white;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 94px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
    color: rgb(17, 17, 111);
}

/* Second part */
.donation--info {
    border-radius: 0 20px 20px 0;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    position: relative;
}

.donation--details {
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 7%;
    top: 7%;
}

.donation--details > h2 {
    font-weight: bold;
}

.donation--details > hr {
    font-size: large;
}

.donation--balance {
    position: relative;
    left: 7%;
    top: 3%;
}

.donation--balance > input {
    padding: 8px 10px;
    padding-left: 100px;
    padding-right: 60px;
    border-radius: 10px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.balance--buttons {
    display: flex;
    margin-top: 12px;
}

.account--balance {
    padding: 3px 10px;
    background: rgb(17, 17, 111);
    color: white;
    border-radius: 5px 0 0 5px;
}

.balance--amount {
    padding: 3px 10px;
    border: 2px solid rgb(17, 17, 111);
    border-radius: 0 5px 5px 0;
    
}

.donation--submit {
    position: relative;
    left: 7%;
    top: 8%;
    display: flex;
    flex-direction: column;
}

.donation--amount {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 3px 15px 3px 230px;
    display: flex;
    align-items: last baseline;
    background-color: rgb(220, 214, 214);
    font-size: 0.8em;
    color: rgb(17, 17, 111);
    top: 1.2em;
    z-index: 0;
}

.donation--button {
    position: absolute;
    padding: 10px 118px;
    top: 3.9em;
    background-color: rgb(25, 186, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
}

.card--details {
    position: relative;
}

.card--details > span {
    position: absolute;
    top: 4.4em;
    left: 3em;
    font-size: 0.7em;
    font-weight: 600;
}

.card--details > hr {
    position: relative;
    bottom: 6.5em;
    left: 1.5em;
    width:83%;
    margin-left:0;
    border-width: 1px;
    border-color: grey;
}

.card--details > h6 {
    position: absolute;
    bottom: 3.2em;
    left: 1.9em;
    font-size: 1.3em;
}

.card--details > h6 > i {
    margin-right: 5px;
    font-size: 1.3em;
    position: relative;
    top: 0.1em;
}