header {
    position: relative;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  }
  
.nav-buttons {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 7%;
}

.nav-buttons > a > button {
    background-color: rgb(88,153,203);
    color: white;
    border: none;
    padding: 8px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    display: flex;
    border: 2px solid rgb(88,153,203);
    transition: all .22s ease-in;
}


.nav-buttons > a {
    text-decoration: none;
}

.nav-buttons > a > button:hover {
    background-color: rgb(246, 246, 246);
    color: rgb(88,153,203);
  }

.nav-buttons > a > button:active {
    background-color: rgb(88,153,203); /* change the background color when the button is clicked */
    color: white;
    transform: scale(0.9)
  }

/* Account button */

.account--button {
    position: relative;
}

.account-button {
    display: flex;
    flex-direction: column;
    height: 46px;
    width: 170px;
    border-radius: 50px;
    background-color: gold;
    border: none;
    overflow: hidden;
    transition: all .22s ease-in;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.account-button > span {
    color: black;
    font-weight: bold;
    font-size: 0.9em;
    padding-top: 2px;
    padding-left: 10px;
}

.account-button > a {
    text-decoration: none;
}

.account-button > a > span{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    padding-left: 10px;
    position: relative;
    bottom: 20%;
}

.circle {
    position: absolute;
    height: 24px;
    width: 24px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 80%;
    top: 26%;
    border-radius: 50%;
    background: rgb(88,153,203);
}

.dropdown-menu {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    position: absolute;
    left: 0%;
    top: 92%;
    border-radius: 20px;
    display: none;
    padding-top: -10px;
    box-sizing: border-box;
    width: 170px;
}

.dropdown-menu > a {
    color: rgb(94, 93, 93);
    text-decoration: none;
    display: block;
    padding: 14px 20px;
    border-radius: 20px;
}

.dropdown-menu > a > button {
    color: rgb(94, 93, 93);
    text-decoration: none;
    display: block;
    padding: 14px 20px;
    border-radius: 20px;
    
}

.account--button:hover .dropdown-menu {
    display: block;
}

.account-button:hover {
    background: rgb(63, 145, 207);
}

.dropdown-menu a:hover {
    background-color: #d1d1d1;
    color: black;
}

.logo--2 {
    width: 10%;
    margin-left: 30px;
}

.drop--first {
    margin-top: -7px;
}

.drop--last {
    margin-bottom: -7px;
}