header {
    position: relative;
}

.n-bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(16, 110, 135);
  }
  
.n-buttons {
    width: 600px;
    height: 100px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-buttons {
    display: flex;
    width: 385px;
    justify-content: space-between;
    align-items: center;
    margin-left: 33px;
}

.menu-buttons > button {
    background-color: #51126a; /*to be changed*/
    color: white;
    border: none;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}

.menu-buttons button > a {
    text-decoration: none;
    color: white;
}

.menu-buttons > button > a:hover {
    color: cyan;
}

.account-button {
    display: flex;
    flex-direction: column;
    padding: 4px 40px 4px 15px;
    border-radius: 50px;
    background-color: yellowgreen;
    border: none;

}

.account-button > span {
    font-weight: bold;
}

.account-button > a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    padding-left: 10px;
}

.circle {
    position: absolute;
    height: 24px;
    width: 24px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 93.3%;
    top: 36.5%;
    border-radius: 50%;
    background: red;
}

.dropdown-menu {
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    position: absolute;
    left: 86.4%;
    top: 69.3%;
    border-radius: 20px;
    display: none;
}

.dropdown-menu > a {
    color: rgb(94, 93, 93);
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    display: block;
    border-radius: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

.dropdown-menu a:hover {
    background-color: #d1d1d1;
    color: black;
}
