.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(231, 231, 231);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.home-buttons {
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.logo--1 {
  width: 5%;
  margin-left: 15px;
}


.home-buttons > a > button {
  background-color: rgb(17, 17, 111);
  color: white;
  border: none;
  padding: 8px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  display: flex;
  transition: all .3s ease-in;
  border: 2px solid rgb(17, 17, 111);
}

.home-buttons > a > button:hover {
  background-color: rgb(231, 231, 231);
  color: black;
  
}

.home-buttons > a > button:active {
  background-color: rgb(17, 17, 111); /* change the background color when the button is clicked */
  transform: scale(0.9)
}

.home-buttons > a {
  text-decoration: none;
}

