
html, body{
  margin: 0;
  padding: 0;
}

.main-page {
  height: 190vh;
  background-image: url('../images/background.png');
  background-repeat: repeat;
  background-size: 60%;
  background-position: center;
}

.home {
  width: 100%;
  height: 35%;
  position: relative;
}
.home-body {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  top: 20%;
  position: relative;
  left: 10%;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}

.home-content > h1 {
  font-size: 2.3em;
  font-weight: 650;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.3;
}

.home-content > h5 {
  font-weight: 400;
  font-size: 1.15em;
  color: rgb(95, 95, 95);
}

.home--artwork {
  position:absolute;
  width: 35%;
  left: 60%;
  bottom: -15%;
}

.main--buttons {
  height: 20%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10%;
}

.main--buttons > a > button {
  background-color: white;
  color: black;
  width: 280px;
  height: 60px;
  border: 4px solid gold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: all .3s ease;
}

.main--buttons > a > button:hover{
  background-color: rgb(88,153,203);
  color: white;
}

/* New additions */

.home--promotion {
  height: 40%;
  width: 80%;
  position: relative;
  left: 10%;
  border-radius: 20px;
  background-color: gold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotion--title {
  height: 30%;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 600;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.promotion--sections {
  height: 60%;
  width: 86%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promotion--sections > div {
  height: 100%;
  width: 27%;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 8px;
  border-radius: 20px;
  position: relative;
}

.icon--section {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--section > i {
  font-size: 3em;
}

.text--section {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.text--body {
  height: 70%;
  width: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text--section > span {
  position: relative;
  color: rgb(57, 57, 57);
  font-size: calc(16px + 0.5vw)
}

/* Footer */

.home--footer {
  height: 20%;
  position: relative;
  top: 8%;
}