.m-page {
    position: relative;
}

.metamask-page {
    height: 721px;
    background: rgb(36, 126, 150);
    filter: brightness(40%);
}

.metamask-img {
    position: absolute;
    object-fit: cover;
    height: 300px;
    top: 30%;
    left: 33%;
    box-shadow: 0px 1px 5px 1px;
    border-radius: 10px;
}

.meta-img > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 70px;
    position: absolute;
    left: 37.8%;
    top: 58%;
    border-radius: 10px;
    background-color: black;
    border: 4px solid cyan;
}

.meta-img> button:hover {
    background: rgb(34, 33, 33);
}

.meta-img > button > a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.switch-button {
    position: absolute;
    padding: 10px 40px;
    border: 2px solid cyan;
    bottom: 17%;
    left: 44%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.switch-button > a {
    text-decoration: none;
    color: red;
}

.switch-button > a:hover {
    color: white;
}