.account--main{
    margin: auto;
}

.account--section {
    width: 100%;
    height: 110vh;
    background-image: url('../images/background.png');
    background-repeat: repeat;
    background-size: 50%;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* section 1 */

.section--first {
    width: 80%;
    height: 30%;
    background-color: #afd0e8;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.img--row {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.user--name {
    font-weight: 600;
}

.wallet--row {
    position: relative;
    border-radius: 10px;
    height: 80%;
    width: 20%;
    position: relative;
    bottom: 14%;
    left: 4%;
    background-color: rgb(231, 231, 231);
}

.wallet--row > h5 {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88,153,203);
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.wallet--info {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wallet--info > h6 {
    height: 100%;
    width: 90%;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
    border: 2px solid rgb(88,153,203);
}

.wallet--info > span {
    height: 40%;
    width: 90%;
    border: 2px solid gold;
    background-color: rgb(88,153,203);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.wallet--info > span > p {
    margin-right: 10px;
    color: gold;
    position: relative;
    top: 25%;
}

.account--row > h5 {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88,153,203);
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.account--row {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 80%;
    width: 20%;
    position: relative;
    bottom: 14%;
    left: 8.6%;
    background-color: rgb(231, 231, 231);
}

.account--info {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.account--info > span {
    font-size: 0.9em;
    width: 90%;
    font-weight: 500;
    color: rgb(72, 72, 72);
    padding-left: 5px;
}

.account--info > a {
    text-decoration: none;
    width: 90%;
    padding: 5px 35px 5px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    border-radius: 10px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
    color: black;
}

.account--info > a:hover {
    color: blue;
}

#edit--icon {
    padding-left: 3px;

}

.wallet--address {
    height: 15%;
    width: 42.8%;
    position: absolute;
    top: 75%;
    left: 21%;  
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 3px solid rgb(88,153,203);
}

.wallet--address > span {
    font-size: 0.9em;
    color: blue;
}

.wallet--address > p {
    font-size: 0.9em;
    font-weight: 600;
    margin-right: 10px;
    position: relative;
    top: 25%;
}

/* section 2 */

.section--second {
    margin-top: 10px;
    height: 16%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section--second > a > span {
    margin-right: 20px;
    padding: 15px 30px;
    background: white;
    border-radius: 25px;
    font-size: 0.9em;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    color: black;
}

.section--second > a {
    text-decoration: none;
}
#dashboard--button {
    background-color: #afd0e8;
}

/* section 3 */

.section--third {
    height: 30%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
}

.donations--section {
    padding: 10px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.donations--section div{
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.donations--section div > span{
    font-size: 2.5em;
    font-weight: bold;
}

.donations--section div > h5 {
    font-size: 1em;
    font-weight: 500;
    color: rgb(80, 80, 80);
}

.projects--section {
    padding: 10px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.projects--section div{
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects--section div > span{
    font-size: 2.5em;
    font-weight: bold;
}

.projects--section div > h5 {
    font-size: 1em;
    font-weight: 500;
    color: rgb(80, 80, 80);
}