.signup-body {
    height: 1200px;
    padding-top: 10px;
    background: rgb(231, 231, 231);
}
.signup-page {
    background: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signup {
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 900px;
    height: 600px;
}

.forum-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 900px;
    background: rgb(88,153,203);
}

.forum-header > h2 {
    color: white;
    font-size: 1.8rem;
}

.forum-main {
    width: 900px;
    height: 530px;
    display: flex;
    /* border: 2px solid red; */
}

.forum-img {
    width: 50%;
}

.login-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.forum-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.personal-info {
    position: relative;
}

.personal-info > input {
    display: flex;
    font-size: 1em;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    border: 1px solid gray;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 140px;
}

.signup-info > input {
    display: flex;
    font-size: 1em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 92px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    border: 1px solid gray;
}

.signup--button {
    width: 300px;
    background: gold;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-top: 10px;
    color: white;
    border: none;
    transition: all .3s ease;
}

.signup--button:hover {
    color: black;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

/* Icons */

#email-icon-2 {
    position: absolute;
    top: 108.5%;
    left: 5%;
}

#password-icon-2 {
    position: absolute;
    top: 142.5%;
    left: 5%;
}

#eye-icon-2 {
    position: absolute;
    top: 142.5%;
    left: 88%;
}

#user-icon-1 {
    position: absolute;
    top: 41.5%;
    left: 5%;
    color: black;
}

#user-icon-2 {
    position: absolute;
    top: 75%;
    left: 5%;
    color: black;
}

#username-icon {
    position: absolute;
    top: 8.5%;
    left: 5%;
    color: black;
}

/* Icons */

.signin-option {
    width: 340px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 15px;
}

.signin-option > span{
    margin-right: 10px;
    font-size: 0.9em;
}

.signin-option > a {
    font-size: 0.9em;
    font-weight: bold;
}
