.signin-body {
    height: 1200px;
    padding-top: 10px;
    background: rgb(231, 231, 231);
}
.signin-page {
    background: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signin {
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 900px;
    height: 600px;
}

.forum-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 900px;
    background-color: rgb(17, 17, 111);
}

.forum-header > h2 {
    color: white;
    font-size: 1.8rem;
}

.forum-main {
    width: 900px;
    height: 530px;
    display: flex;
    position: relative;
}

.forum-img {
    width: 50%;
}

.login-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.forum-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.forum-content > input {
    font-size: 1em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 140px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    border: 1px solid gray;
}

/* Icons */

#email-icon {
    position: absolute;
    top: 14%;
    right: 184%;
}

#password-icon {
    position: absolute;
    top: 64%;
    right: 184%
}

#eye-icon {
    position: absolute;
    top: 64%;
    left: 180%;
}

/* Icons */

.signin--button {
    width: 346px;
    background: gold;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-top: 10px;
    color: white;
    border: none;
    transition: all .3s ease;
}

.signin--button:hover {
    color: black;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.register-options {
    width: 340px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.register-options > hr {
    width: 9.5em;
}

.register-options > h6 {
    margin-top: 5px;
}

.signup-option {
    width: 340px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 15px;
    margin-top: 15px;
}

.signup-option > span{
    margin-right: 10px;
    font-size: 0.9em;
}

.signup-option > a {
    font-size: 0.9em;
    font-weight: bold;
}
