.signup-body {
    height: 110vh;
    padding-top: 10px;
    background-image: url('../images/background.png');
    background-repeat: repeat;
    background-size: 50%;
    background-position: center;
}

.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signup {
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 900px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.signup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 900px;
    border-radius: 10px 10px 0px 0px;
    background-color: gold;
}

.signup-header > h2 {
    color: white;
    font-size: 1.6rem;
}

.forum-main {
    width: 900px;
    height: 530px;
    display: flex;
    /* border: 2px solid red; */
}

.forum-img {
    width: 50%;
}

.login-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.forum-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.personal-info {
    position: relative;
}

.personal-info > input {
    font-size: 1em;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    border: none;
    border: 1px solid gray;
    width: 75%;
    margin-left: 15%;
}

.signup-info > input {
    font-size: 1em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-right: 45px;
    border: none;
    border: 1px solid gray;
    width: 75%;
    margin-left: 15%;
}

.signup--button {
    width: 320px;
    background: rgb(88,153,203);
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-top: 10px;
    color: white;
    border: none;
    transition: all .3s ease;
    position: relative;
    left: 2.5%;
}

.signup--button:hover {
    color: black;
}

/* Icons */

#email-icon-2 {
    position: absolute;
    top: 108.5%;
    left: 19%;
}

#password-icon-2 {
    position: absolute;
    top: 141.5%;
    left: 19%;
}

#eye-icon-2 {
    position: absolute;
    top: 141.5%;
    left: 81%;
}

#user-icon-1 {
    position: absolute;
    top: 41.5%;
    left: 19%;
    color: black;
}

#user-icon-2 {
    position: absolute;
    top: 75%;
    left: 19%;
    color: black;
}

#username-icon {
    position: absolute;
    top: 8.5%;
    left: 19%;
    color: black;
}

/* Icons */

.signin-option {
    width: 340px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 15px;
}

.signin-option > span{
    margin-right: 10px;
    font-size: 0.9em;
}

.signin-option > a {
    font-size: 0.9em;
    font-weight: bold;
}
